.container {
  margin-top: 15px;
  padding: 50px 15px;
  background: lavenderblush;
}

.mat-toolbar {
  border-radius: 5px;
  margin-bottom: 15px;
}

.toolbar {
  &-title {
    font-size: 26px;
  }
  &-btn{
    display: flex;
    justify-content: space-around;
  }
}
