<div class="container">
  <mat-toolbar color="primary">

    <mat-toolbar-row class="toolbar-title">
      <h1>Test Application for BilSoft:
        <strong>
          Updateable Product Sheet
        </strong>
      </h1>
      <hr>
    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-btn">
      <button mat-raised-button
              type="button"
              routerLink="/add-product"
      >Add a New Product
      </button>
      <button mat-raised-button
              type="button"
              routerLink="/product-item"
      >Review the List of Products
      </button>
    </mat-toolbar-row>

  </mat-toolbar>

  <router-outlet></router-outlet>

</div>
